body {
    margin: 0px;
    padding: 0px;
    background-color: #e0d2d2;
}


#navbar{
    padding: 70px;
    background-color: pink;
}

#date1 {
    background-color: black;
    color: white;
    padding: 5px;
}

.text {
    text-align: center;


}

#image {
    background-image: url(jane.jpg );
    padding: 300px;
    background-size: cover;

}

b {

    font-size: 50px;
}

button {
    padding: 13px;
    border: none;
    background-color: rgb(228, 159, 171);
}

button:hover {
    background-color: white;
    cursor: pointer;
}

.imgtext {
    color: white;
    margin-right: 500px;
    position: relative;
    right: 200px;
}

#smallbox {
    width: 300px;
    background-color: black;
    float: right;
    margin-right: 20px;
    background-image: url(eyes.jpg);
    background-repeat: repeat-x;


}

#inner {
    background-color: black;
    margin-top: 160px;
    color: white;
}

#box {
    width: 65%;
    background-color: white;
    margin-left: 20px;
    padding-bottom: 50px;

}

#text2 {
    text-align: center;
    padding-top: 20px;
}

#image2 {
    height: 500px;
    width: 800px;
    background-color: blue;
    margin-left: 30px;
    background-image: url(girl.jpg);
    background-size: cover;
}

#boy {
    font-size: 20px;
}

#mobile {
    margin-left: 30px;
}

#Replies {
    background-color: black;
    color: white;
    padding: 15px;
    width: 150px;
    position: relative;
    left: 700px;
    font-size: 15px;

}

#Replies:hover {
    color: black;
    background-color: rgb(221, 218, 218);
}

#falt {
    width: 875px;
    margin-left: 21px;

}

#heading {
    background-color: white;
    text-align: center;
    height: 950px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#bigbox {
    background-image: url(boy.jpg);
    height: 600px;
    background-size: cover;
}

#text3 {
    text-align: left;
}

#edit {
    color: black;
    font-size: 20px;
}

#text4 {
    text-align: left;
}

#largebox {
    height: auto;
    width: 875px;
    background-color: white;
    margin-left: 21px;
    padding-bottom: 50px;
}

#text5 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}

img {
    width: 875px;
}
#level{
    font-size: 20px;
}

#Replies3{
    background-color: black;
    color:white;
    padding: 15px;
    width: 150px;
    position: relative;
    left: 700px;
    font-size: 15px;

}
#Replies3:hover{
    background-color: #e0d2d2;
    color: black;
}
.chors{
    background-color: white;
    color: black;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    
}

footer{
    margin-top: 100px;
    background-color: #616161;
    height: 200px;
    padding-top: 50px;
}

#top{
    background-color: black;
    color: white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 30px;
    text-decoration: none;
    
}
#top:hover{
    background-color: #e0d2d2;
    color: black;
}

#top:hover .fa-arrow-up{
    color: black;
}
#last{
    margin-left:30px;   
    color: white;
}
#arrow{
    width:20px;
    height: 20px;
    padding-top: 15px;
   
}


.fa-arrow-up {
    color: white;
}